.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background: #f4f4f4;
}

.about-container {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.about-container h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #333;
}

.about-container p {
    font-size: 1.2rem;
    color: #666;
}

.founders-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.founder {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
    animation: fadeIn 1.5s ease-out;
}

.founder:hover {
    transform: translateY(-10px);
}

.founder-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.founder h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.founder p {
    font-size: 1rem;
    color: #666;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}