@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Jacquard+12&display=swap');

body {
  font-family: "Quicksand", sans-serif !important;  /* emin değilim ?? */
  
}

body {
  background-color: #f7f7f7; /* emin değilim ?? */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  font-weight: 700;
}

/****************************** NAVBAR START ******************************/

.navbar-links {
  background-color: #f7f7f7;
  padding: 10px 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.logo {
  height: 80px;
}
.navbar-link {
  background-color: transparent;
  padding: 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}
.navbar-link:focus,
.navbar-link.active,
.navbar-link:hover {
  border-bottom: 1px solid #444;
}

.dropdown-menu {
  padding: 0;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:hover {
  background-color: #f7f7f7;
  border-bottom: 1px solid #444;
}

/****************************** NAVBAR END ******************************/

/****************************** FOOTER START ******************************/
footer {
  margin-top: auto;
  padding: 2rem 0;
  color: black;
}

footer .text-body-secondary {
  color: rgba(0, 0, 0, 0.5);
}

footer .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

footer .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

footer .nav-item {
  margin: 0 10px;
}
/****************************** FOOTER END ******************************/
