.contact-content {
  margin-top: 80px;
  padding: 40px;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.contact-info,
.contact-form {
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info>h2,
.contact-form>h2 {
  margin-bottom: 40px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.info-item img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(46, 134, 222, 0.5);
}

.contact-form button {
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}