body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.register-page {
  background: url('./img/loginBackgroung.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Flex start to align items from the start */
  padding-top: 60px; /* Add padding to the top */
}

.register-container {
  margin-top: 80px;
  background: rgba(255, 255, 255, 0.85); /* Daha şeffaf beyaz arka plan */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.register-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9); /* Input arka plan rengini biraz daha opak yaptık */
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #2e86de;
  outline: none;
}

button {
  padding: 10px;
  background-color: #2e86de;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1b5e9e;
}

.login-link-container {
  margin-top: 15px;
}

.login-link {
  color: #2e86de;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.error-message {
  color: #D8000C;
  background-color: #FFD2D2;
  border: 1px solid #D8000C;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
