.ticket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .ticket {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  
  .ticket-logo img {
    width: 100px;
    height: 100px;
  }
  
  
  .ticket-info {
    color: #4a4a4a;
  }
  